
/* Just some CSS to make the cells look similar to the assignment*/
.movie {
  border-style: solid;
  padding: 10px;
  margin: 5px;
  background-color: lightgray;
}
.movie-title {
  font-size: 20px;
}

.director {
  color: darkgoldenrod;
  font-size: 16px;
}

.stars {
    font-size: 12px;
}
